:root {
  --mdc-theme-primary: #424242;
  --mdc-theme-secondary: #7C4DFF;
}

body{ 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

body header { z-index: 8;}
body aside#drawer { 
  top: 48px;  
  bottom: 0;
  height: unset;
}

.mdc-drawer-app-content {
    height: 100vh;
}

body .mdc-drawer-app-content .book-content {
    position: absolute;
    top: 48px;
    bottom: 0px;
    left: 0;
    right: 0;
    /* margin: 32px; */
    overflow-y: auto;
    /* max-height: 100vh; */
    /* box-sizing: border-box; */
    padding: 1em;
    text-align: jastify;
}

.book-summary::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.mdc-drawer li {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    text-decoration: none;
    text-transform: inherit;
    margin-bottom: 8px;
    padding: 0 8px;
}

.mdc-drawer li p {
  margin: 0px;
}

.mdc-drawer h1, .mdc-drawer h2, .mdc-drawer h3 {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
  display: block;
  margin-top: 0;
  line-height: normal;
  margin: 0;
  padding: 0 16px;
  border-bottom: 0;
}

.mdc-drawer h1 
{
font-weight: bold;
padding: 0 16px 10px 16px  ;
font-size: 1rem;
}

.mdc-drawer h1 
{
  font-weight: bold;
  padding: 0 16px 10px 16px  ;
  font-size: 1rem;
}

.mdc-drawer h2 
{
font-weight: bold;
padding: 0 16px 10px 16px
;
}

.book-content code {
max-width: 100%;
overflow-x: auto;

}
/* Style the Image Used to Trigger the Modal */
.book-content img: {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
}

.book-content img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 10; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100vw;
height: 100vh;
overflow: hide;
padding: 10vw;
box-sizing: border-box;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal .mdc-card {
  position: absolute;
  bottom: 5vw;
  top: 5vw;
  left: 5vw;
  right: 5vw;
}

.modal-media {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  /* width: 90vw; */
  height: 80vh;
  margin: 18px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#modal-caption {
padding: 8px;
border-bottom: 0;
}
.modal .mdc-card__media--16-9::before
{
margin-top: 0px;
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: calc(100% - 100px);
  padding: 8px;
  box-sizing: border-box;
}

.hljs, table, .book-content img {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
}